@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300);


/*-- ANIMATIONS CSS START --*/
.animated.fadeIn{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.img.animated.fadeIn{
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: .2s;
}
.animated.fadeOut{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
}

.animated.slideInDown{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.animated.rotateInDownRight{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.animated.rotateIn{
  -webkit-animation-duration: 1.0s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.animated.fadeInDown{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -webkit-overflow: hidden;
}
.img.animated.fadeInDown{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .3s;
  -webkit-overflow: hidden;
}
.animated.fadeInUp{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -webkit-overflow: hidden;
}
.img.animated.fadeInUp{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}





/*-- ANIMATIONS CSS END --*/

.modal{
  /*display: block;*/
  margin-left: auto !important;
  margin-right: auto !important;
  width: 700px !important;
  height: 1000px !important;
}
#carousel-example-generic{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 300px !important;
  height: 300px !important;
}




.title{
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-animation: hue 60s infinite linear !important;
}

a:hover{
  color: #0088cc !important;
}
a:active{
  color: #313131 !important;
}

.search-container{
  display: none;
}


body {
  /*background: linear-gradient(white, #dedede) !important;*/
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  /*font-family: 'Josefin Sans', sans-serif;*/
  /*text-shadow: 0px 0px 20px darkgrey !important;*/
}

h1{
  border-bottom: 1px solid lightgrey;
  /*font-family: 'Shadows Into Light', cursive;*/
  /*font-family: 'Lato', sans-serif;*/
  /*font-weight: bold;*/
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #313131;
  font-size: 100px;
  /*background: rgba(250, 250, 250, .6);*/
  width: 700px;
  /*border-radius: 130px !important;*/
}

.mini{
  display: none;
}

h2{
  /*display: none;*/
  border-bottom: 1px solid lightgrey;
  /*font-family: 'Shadows Into Light', cursive;*/
  /*font-family: 'Lato', sans-serif;*/
  /*font-weight: bold;*/
  margin-top: 7%;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  float: middle;
  text-align: center;
  color: #313131;
  font-size: 25px;
  /*background: rgba(250, 250, 250, .6);*/
  /*width: 700px;*/
  /*border-radius: 130px !important;*/
}


.selected-pics{
  display: none;
  /*position: relative;*/
  /*bottom: 30px;*/
  margin-top: 10px;
  /*margin-top: 10px !important;*/
  /*margin-bottom: 25px !important;*/
}

.selected-pics img{
  margin: 3px;
  border: 1px solid #313131;
}

.slideshow-div{
  display: none;

}

#slideshow{
  display: block !important;
  color: #6B6B6B;
  text-decoration: none;
  /*margin: 0 auto !important;*/
  /*margin-right: auto !important;*/
  /*margin-left: auto !important;*/
  text-align: center;
  font-size: 25px;
}

#next-div{
  display: none;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}

#next{
  position: relative !important;
  display: block !important;
  color: #6B6B6B;
  text-decoration: none;
  /*margin: 0 auto !important;*/
  /*margin-right: auto !important;*/
  /*margin-left: auto !important;*/
  text-align: center;
  font-size: 25px;
  bottom: 55px !important;
  border-bottom: 1px solid lightgrey;
  /*font-family: 'Lato', sans-serif;*/
}

#source-code{
  /*display: none;*/
  font-size: 25px;
  text-decoration: none;
  float: right;
  color: #6B6B6B;
  border-bottom: 1px solid lightgrey;
  /*font-family: 'Lato', sans-serif;*/
  /*margin-left: auto !important;*/
  margin-right: 5% !important;
  margin-top: 5% !important;
}




#reset{
  /*display: none;*/
  font-size: 25px;
  text-decoration: none;
  float: left;
  color: #6B6B6B;
  border-bottom: 1px solid lightgrey;
  /*font-family: 'Lato', sans-serif;*/
  /*margin-left: auto !important;*/
  margin-left: 5% !important;
  margin-top: 5% !important;

}

#start{
  /*background: rgba(250, 250, 250, .6);*/
  border-radius: 130px;
  font-size: 25px;
  display: block;
  /*float: left;*/
  color: #6B6B6B;
  text-decoration: none;
  /*font-family: 'Lato', sans-serif;*/
  /*margin-left: 30% !important;*/
  /*margin-right: 60% !important;*/
  margin: 0 auto;
  margin-bottom: 5%;
}

p{
  font-size: 25px;
  color: grey !important;
  text-align: center;
  /*font-family: 'Lato', sans-serif;*/
}

#pic-selection{
  /*width: 960px;*/
  /*height: 200px;*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  /*border-top: 1px solid lightgrey;*/
}

#target img{
  border-radius: 100px;
  margin: 3px;
  border: 1px solid #313131;
  /*-webkit-filter: grayscale(100%);*/
}
#target img:hover{
  /*-webkit-filter: grayscale(0%);*/
  border-radius: 0px;
  margin: 3px;
  border: 1px solid #313131;
  box-shadow: 0px 0px 10px lightblue;
}

#target{
  /*width: 955px;*/
  /*height: 100px;*/
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}


input{
  width: 330px !important;
  background: transparent !important;
  border: 1px solid lightgrey !important;
  border-top: 1px solid lightgrey !important;
  border-top-left-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
}

.btn{
  background: transparent !important;
  /*color: white !important;*/
  border: 1px solid lightgrey !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
}
.btn:hover{
  background: transparent !important;
  /*color: white !important;*/
  border: 1px solid #0088cc !important;
}

#pic-selection{
  width: 960px !important;
  height: 200px !important;
  /*//border: 1px solid grey;*/
  /*//border-radius: 4px;*/
  margin-bottom: 20px !important;
}

#target{
  width: 955px !important;
  height: 100px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 25px !important;
}




/*-- BACKGROUND SLIDESHOW CSS START --*/

h4{
  color: white !important;
}

.cb-slideshow,
.cb-slideshow:after{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cb-slideshow:after{
  content: '';
  /*//background: transparent url(/media/pattern.png) repeat top left;*/
  background: linear-gradient(to bottom, white, transparent);
}

.cb-slideshow li span{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div{
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h4 {
  font-family: 'Lato', sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}

li{
  list-style: none;
}

.cb-slideshow li:nth-child(1) span{
  /*//background-image: url(/media/neb.jpg);*/
  background: linear-gradient(white, #62D5FE) !important;
  /*//background: linear-gradient(#62D5FE, white);*/
  /*//background: linear-gradient(#0CFE94, #62D5FE);*/
}
.cb-slideshow li:nth-child(2) span{
  /*//background-image: url(/media/car6.jpg);*/
  /*//background: linear-gradient(blue, gold);*/
  /*//background: linear-gradient(white, #0cfe94);*/
  background: linear-gradient(white, #0cfe94, white) !important;
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  /*//background-image: url(/media/car5.jpg);*/
  /*//background: linear-gradient(turquoise, maroon);*/
  background: linear-gradient(hotpink, white) !important;
  /*//background: linear-gradient(maroon, white);*/
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  /*//background-image: url(/media/car1.jpg);*/
  /*//background: linear-gradient(yellow, hotpink);*/
  /*//background: linear-gradient(white, hotpink);*/
  background: linear-gradient(white, #6600ff, white) !important;
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  /*//background-image: url(/media/car3.jpg);*/
  /*//background: linear-gradient(steelblue, red);*/
  background: linear-gradient(white, orange) !important;
  /*//background: linear-gradient(orange, white);*/
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  /*//background-image: url(/media/car4.jpg);*/
  /*//background: linear-gradient(purple, green);*/
  /*//background: linear-gradient(white, yellow);*/
  background: linear-gradient(white, yellow, white) !important;
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div{
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div{
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div{
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div{
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div{
  animation-delay: 30s;
}

@keyframes imageAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*-- BACKGROUND SLIDESHOW CSS END --*/
